In [9]:
import pandas as pd
# Load the dataset
data = pd.read_csv("data_clean.csv")

In [12]:
 #categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded valu

processed_data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'])

processed_data.head(20)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50,1,0,0,0,1
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50,1,0,0,1,0
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,5.20,1,0,0,0,1
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.3 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,1.95,1,0,0,0,1
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95,0,0,1,0,1
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.49,0,0,1,1,0
10,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,First,25.2 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.60,1,0,0,0,1
11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,4.78 Lakh,27.00,1,0,0,1,0
12,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Second,0.0 kmpl,2179 CC,115 bhp,5.0,4.78 Lakh,17.50,1,0,0,1,0
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00,1,0,0,0,1
14,16,Honda Amaze S i-Dtech,Kochi,2016,58950,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,4.78 Lakh,5.40,1,0,0,0,1
15,17,Maruti Swift DDiS VDI,Jaipur,2017,25000,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.99,1,0,0,0,1
16,18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,4.78 Lakh,6.34,1,0,0,0,1
17,19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,4.78 Lakh,28.00,1,0,0,1,0
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55,1,0,0,1,0
19,21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,4.78 Lakh,8.25,1,0,0,0,1

In [13]:
# Saving data to a new CSV file
data.to_csv('/content/replacing_categorical_values.csv', index=False)